.dashboard {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.info-container {
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chart-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chart-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  width: 500px;
  max-width: 500px;
}

.popup-wrapper {
  background-color: rgb(224, 242, 241, 0.1);
  width: fit-content;
}

div.material,
div.area {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

div.material > p,
div.area > p {
  font-size: 14px;
  color: #70757a;
  margin: 0;
  margin-left: 10px;
  text-align: right;
  width: 100%;
}

h3.popup-header {
  background-color: #00695c;
  width: fit-content;
  border-radius: 3px;
  color: white;
  padding: 5px 10px;
  margin: 0;
  font-size: 16px;
}
.location {
  display: flex;
  flex-direction: row;
  align-items: center;
}
p.location-coordinates {
  color: #70757a;
  font-size: 14px;
  margin: 0;
  margin-left: 5px;
}

button.disable-filter {
  font-family: 'Chakra Petch';
  background-color: #00695c;
  color: white;
  position: absolute;
  bottom: 50px;
  padding: 14px 25px;
  font-size: 20px;
  font-weight: bold;
  left: 50px;
  z-index: 1000;
  border: none;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
}

h3.info-header {
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
  margin: 0;
  margin-top: 10px;
  border-radius: 5px;
  background-color: #00695c;
  color: white;
  padding: 20px 30px;
  font-weight: bold;
}

.chart-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.chart-info > p {
  color: #70757a;
  font-size: 14px;
  margin: 0;
  margin-top: 5px;
  text-align: center;
}

.icon-wrapper {
  background-color: white;
  transform: translate(-13px, -13px);
  padding: 3px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  border-radius: 5px;
}
